@import '../../variables';

.Cell {
    background: $background-cell;
    border: 10px solid $background-grid;
    border-radius: 100%;
    font: {
        size: 55px;
        weight: 700;
    }
    color: $color-cell;

    @extend %flex-center;

    &.active {
        background: black;
        position: absolute;
        width: 25%;
        height: 25%;
        transition: 0.4s;
        animation: appear-cell 1s;
    }

    &.cell-0 { transform: translate(0, 0); }
    &.cell-1 { transform: translate(100%, 0); }
    &.cell-2 { transform: translate(200%, 0); }
    &.cell-3 { transform: translate(300%, 0); }
    &.cell-4 { transform: translate(0, 100%); }
    &.cell-5 { transform: translate(100%, 100%); }
    &.cell-6 { transform: translate(200%, 100%); }
    &.cell-7 { transform: translate(300%, 100%); }
    &.cell-8 { transform: translate(0, 200%); }
    &.cell-9 { transform: translate(100%, 200%); }
    &.cell-10 { transform: translate(200%, 200%); }
    &.cell-11 { transform: translate(300%, 200%); }
    &.cell-12 { transform: translate(0, 300%); }
    &.cell-13 { transform: translate(100%, 300%); }
    &.cell-14 { transform: translate(200%, 300%); }
    &.cell-15 { transform: translate(300%, 300%); }

    &.value-2 { background: #001f3f; color: white; }
    &.value-4 { background: #0074D9; color: white; }
    &.value-8 { background: #7FDBFF; color: white; }
    &.value-16 { background: #39CCCC; color: white; }
    &.value-32 { background: #3D9970; color: white; }
    &.value-64 { background: #2ECC40; color: white; }
    &.value-128 { background: #01FF70; color: white; }
    &.value-256 { background: #FFDC00; color: white; }
    &.value-512 { background: #FF851B; color: white; }
    &.value-1024 { background: #FF4136; color: white; }
    &.value-2048 { background: #85144b; color: white; }
    
    &.value-4096 { background: #F012BE; color: white; }
    &.value-8192 { background: #B10DC9; color: white; }
    &.value-16384 { background: #111111; color: white;}
    &.value-32768 { background: #AAAAAA; color: black; }
    &.value-65356 { background: #DDDDDD; color: black; }
}

@keyframes appear-cell {
    0% { opacity: 0; }
    100% { opacity: 1; }
}