@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overscroll-behavior-y: contain;
}

body {
  background: linear-gradient(270deg, #ff0000, #00ff0a, #0027ff);
  background-size: 300% 300%;

  -webkit-animation: gradient-color 15s ease infinite;
  -moz-animation: gradient-color 15s ease infinite;
  -o-animation: gradient-color 15s ease infinite;
  animation: gradient-color 15s ease infinite;
}

.App {
  width: 100vw;
  height: 100vh;
  @extend %flex-center;
}

@-webkit-keyframes gradient-color {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradient-color {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes gradient-color {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradient-color {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
